<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
  <div class="container">
    <header th:replace="fragments/header :: header" class="header">
    </header>
    <main>
      <section class="book">
        <h2 th:text="${bookToDisplay.title}" class="book__title">Head First Java</h2>
        <h3 th:each="author :${bookToDisplay.authors}" th:text="${author.firstName} + ' '+ ${author.lastName}"
          class="book__author">Kathy Sierra</h3>
        <p th:text="${bookToDisplay.isbn}" class="book__isbn">ISBN: 978-0-596-00920-5</p>
        <p th:text="${bookToDisplay.description}" class="book__description">
          Head First Java is a complete learning experience in Java and object
          oriented programming.
        </p>
      </section>
    </main>
  </div>
</body>

</html>